body {
    background-color: transparent;
    font-family: 'Monserrat', sans-serif;
}

nav {
    margin: 2rem 4rem 1rem;
}

.brand {
    user-select: none;
    font-family: 'Tilt Warp', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    display: inline;
    margin: 1rem;
}

.brand a {
    text-decoration: none;
    color: #FFD21E;
    transition: all ease-in-out 0.4s;
}

.brand a:hover {
    color: #fff0b6;
}

.logo {
    display: inline;
    width: 5%;
}

ul {
    display: block;
    float: right;
}

ul li {
    display: inline-block;
    list-style: none;
    margin: 0 1rem;
}

.nav-links {
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    color: #f1f1f1;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    display: inline-block;
    padding: 0.75rem 0.9rem;
    position: relative;
}

.nav-links:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #FFD21E;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.nav-links:hover:after {
    width: 100%;
    left: 0;
}

.active {
    border: solid #ffd21e;
}

.floating-button {
    position: absolute;
    bottom: 5%;
    right: 5%;
    background-color: #FFD21E;
    color: #242424;
    padding: 0.6rem;
    border-radius: 20px;
    transition: all ease-in-out 0.3s;
}

.floating-button:hover {
    background-color: #000;
    color: #FFD21E;
}

.wave {
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}

@keyframes wave-animation {
    0% {
        transform: rotate(0.0deg)
    }

    10% {
        transform: rotate(14.0deg)
    }

    20% {
        transform: rotate(-8.0deg)
    }

    30% {
        transform: rotate(14.0deg)
    }

    40% {
        transform: rotate(-4.0deg)
    }

    50% {
        transform: rotate(10.0deg)
    }

    60% {
        transform: rotate(0.0deg)
    }

    100% {
        transform: rotate(0.0deg)
    }
}

#toggle {
    display: none;
}

@media screen and (max-width: 945px) {

    ul {
        display: none;
    }

    .brand {
        text-align: center;
    }

    ul.expanded {
        display: inline-flex;
        flex-direction: column;
        position: absolute;
        z-index: 3;
        background-color: #242424;
        left: 70%;
    }

    .hamburger {
        position: absolute;
        top: 5em;
        right: 5%;
        margin-left: -2em;
        margin-top: -45px;
        width: 2em;
        height: 45px;
        z-index: 5;
    }

    .hamburger div {
        position: relative;
        width: 3rem;
        height: 7px;
        border-radius: 3px;
        background-color: #e5e5e5;
        margin-top: 8px;
        transition: all 0.3s ease-in-out;
    }

    #toggle:checked+.hamburger .top-bun {
        transform: rotate(-45deg);
        margin-top: 25px;
    }

    #toggle:checked+.hamburger .bottom-bun {
        opacity: 0;
        transform: rotate(45deg);
    }

    #toggle:checked+.hamburger .meat {
        transform: rotate(45deg);
        margin-top: -7px;
    }

    #toggle:checked+.hamburger+.nav {
        top: 0;
        transform: scale(1);
    }
}

@media screen and (max-width:426px) {
    ul.expanded {
        left: 30%;
    }

    .brand {
        margin-left: -2rem;
    }
}