.contact-container {
    width: 90%;
    margin: auto;
    font-family: 'Secular One', sans-serif;
}

.contact-container h2 {
    font-size: 4rem;
    margin: 0;
}

.contact-container p {
    font-size: 1rem;
    margin: 0 auto 2rem;
}

.social-icons {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    flex-direction: row;
}

.icon {
    margin: auto 0.5rem;
    font-size: 2.75rem;
}

.icon a {
    color: #FFD12E;
    transition: all ease-in-out 0.3s;
}

.discord a:hover {
    color: #7289da
}
.instagram a:hover {
    color: #d62976 
}
.whatsapp a:hover {
    color: #25D366
}
.linkedin a:hover {
    color: #0077b5
}
.twitter a:hover {
    color: #1DA1F2
}